body{
    background-color: aqua;
}
#nav-image{
    float: left;
    height: 35px;
    margin: 10px;
}
.nav-bar{
    background-color: black;
    overflow: auto;
    margin: 10px 0%;
}

#nav-ul{
    list-style: none;
    margin: 9px;
    
}
#small-screen{
    display: none;
}


li{
    color: white;
    float: left;
    padding: 10px;

}

#ul-inside{
    /* float: right; */
    list-style: none;
    margin: auto 10px;    
    border-radius: 20px;
}

.anch{
    text-decoration: none;
    color: white;
    float: right;
    padding: 10px;
}

#nav-input{
    border-radius: 10px;
    padding-left: 10px;
}

.container{
     display: block;
     overflow: hidden;
    
}

#main-image{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 100px;
    /* text-align: center;
    height: 100px;
     margin: auto 50%; */
}


.img-ul{
    /* display: block; */
    list-style: none;
    /* display: inline; */
    float: right;
    
    
}

.img-ul li{
    color: black;
    
}


/*---------------------------------- App-box design---------------------------------- */

#application-box{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
}

.app-box{
     border: 5PX solid brown;
     width: 500px;
     /* align-self: center; */
     /* text-align: center;
      */
}

#box1{
    height: auto;
    text-align: center;
}
#box2{
    height: auto;
}

#box3{
    height: auto;
}

#adv-img{
    height: 500px;
}


.form-element{
    color: blue;
    margin-bottom: 10px;
    margin-left: 25%;
}

#gender-i{
    padding-right: 20px;
}


#reset-i{
    margin-left: 42%;
    text-align: center;
    align-self: flex-end;
}


/*  Media Query  */

@media (max-width: 1370px){
    #application-box{
        display: block;
        margin: auto;
        /* border: 30px solid rgb(255, 255, 255); */
    }
}


@media (max-width: 665px) {
    li{
        float: none;
    }
    #nav-image{
        float: none;
        margin: none;
    }
    .anch{
        display: block;
        float: left;
        margin-left: 45px;
    }
    #ul-inside li{
        display: inline-block;
    }
    .app-box{
        margin: auto;
    }
    #small-screen{
        display: inline;
    }
    

}















#main_div{
    background-color: #503333;
    box-sizing: content-box;
    display: flex;
    /* max-width: fit-content; */
    justify-content: space-evenly;
    
    
}

div.inside{
    /* border: 2px solid rebeccapurple; */
   /* max-width: 30%; */
    /* min-width: 300px; */
    background-color: white;
    width: 500px;
    /* position:absolute;
    left: 50%; */
    text-align: center;
    /* margin: auto; */
    outline: auto;
    outline-color: black;
    padding: 100px;
    

}


.clickable:hover{
    color: black;
    background-color: #bb2c2c;
    padding: 10px;
    border-radius: 5px;
    /* border: 2px solid red; */

    /* ---------Below property will not be effective as it's inline element */
    /* text-align: center; */
    /* justify-content: center; */
    /* margin: auto; */
}

/* .ptag{
    text-align: justify;
} */

/* .header_set{
    text-align: left;
} */


